@background-color: #323232;
@identity-color: #ffd600;
@default-color: #8f908a;
@topbar-color: #ffffff;
@topbar-background: #000000;
@menu-background: #EFEFEF;
@menu-color: #666;

body {
	margin: 40px 0 0 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	background-color: @background-color;
	color: @default-color;
	text-shadow: 0 -1px black;
}
#top {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: @topbar-background;
	padding: 10px 25px;
	color: @topbar-color;
	text-shadow: none;
	text-align: center;
	z-index: 1;
	box-sizing: border-box;
}
#top span {
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
	font-weight: lighter;
}
#top:after {
	display: block;
	content: "";
	clear: both;
}
#pane {
	margin: auto;
	padding: 25px;
	max-width: 500px;
}

@import "settings.less";
@import "nav.less";
@import "buttons.less";
@import "fieldsets.less";
@import "inputs.less";
