.buttons {

	&:after {
		display: block;
		clear: both;
		content: "";
	}

	button {
		float: right;
	}
}
button {
	padding: 5px 20px;
	border: 1px solid @identity-color;
	border-radius: 4px;
	background-color: transparent;
	color: @identity-color;
	text-align: center;
	text-decoration: none;
	
	&:focus {
		outline: none;
	}
	&:active {
		background-color: @identity-color;
		color: @background-color;
	}

	&.remove {
		position: relative;
		top: 5px;
		display: inline-block;
		margin-left: 5px;
		padding: 0;
		width: 20px;
		height: 20px;
		border: 0;
		border-radius: 10px;
		background-color: @default-color;

		span {
			display: none;
		}

		&:before,
		&:after {
			position: absolute;
			top: 9px;
			left: 5px;
			display: block;
			width: 10px;
			height: 2px;
			background-color: @background-color;
			content: "";
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&:after {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
}